
*, *::before, *::after {
     box-sizing: border-box;
}
 .header-container{
     background-image: url("images/h_img.jpg");
     padding:100px;
     height: 500px;
     padding:100px 0px;
     flex-wrap: wrap;
 }
.brand-logo{
    margin-left:600px;
    height:1rem;
    padding:50px 50px;
}
.mouse-logo{
    height: 1.2rem;
    padding:50px 0px;
    margin-left:650px;
}
 .brand-logo-name{
     color:white;
     margin-left:600px;
     border:3px solid transparent;
     padding: 10px;
     font-size:30px;
     align-content: center;
     bottom: 10px;
 }
 .brand-logo-studio{
     margin-left: 550px;
     color:white;
     font-size:30px;
     align-content: center;
 }
.brand-logo-motto {
    margin-left: 350px;
    color:white;
    font-size:  30px;
    align-content: center;
}
img:hover{
   color:#0000;
}
.about-container{
    margin-left:20px;
    text-decoration: none;
    text-align: center;
    list-style:none;
    flex-direction:row;
    padding:50px 0px;
}
 .services-name{
     color:white;
     padding:50px 0px;
     margin-left: 20px;
     height:400px;
     text-decoration:none;
     text-align: center;
 }
 .services-container{
     background-image:url("images/s_image.jpg");
 }
 .what-we-do-name{
     margin-left:600px;
     top:50px;
 }
 .what-we-do-container{
     display:flex;
     justify-content: space-between;
     height:400px;
 }
 .design {
     padding:200px 0px;
     margin-left:-1200px;
 }
 .development {
     padding:200px 0px;
     margin-left:-500px;
 }
 .product {
     padding:200px 0px;
     margin-left:-500px;
 }
 .portfolio-name{
     margin-left: 600px;
 }

 .contact-us-container{
    background-image: url("images/c_image.jpg");

    padding: 50px 0px;
 }


.social-media-container{
    background-color:white;
    height:200px;
    padding: 50px 0px;
    margin-left:500px;
}
input[type=text], select{
    width: 60%;
    display:flex;
    padding:12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    text-align:center;
    background-color: transparent;
    justify-content:space-between;
    flex-wrap:wrap;
}
img{
    flex-wrap:wrap
}

.contact-name{
    color:white;
    margin-left:600px;
}
.mc-field-group{
    margin-left: 200px;
    background-color: transparent;
    display:flex;
}
.mc-field-group-name{
    margin-left:0px;
    margin-top:30px;
    margin-right:700px;
}
.mc-field-group-email{
    top:-500px;
    margin-left:1000px;
}